<!-- About Section -->
<section data-anchor="about" class="section about-section text-center">
	<div class="cell">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1 class="section-heading">About</h1>
					<p>Peter Y. Chuang was born in Hong Kong. Growing up thinking he would become a concert pianist, he ended up studying Psychology at the Chinese University of Hong Kong, where he became interested in cognitive psychology and did some research on language comprehension. That was the time when he realised he would like to become a <a href ="//novelist.xyz">novelist</a> some day. After spending some time at the London School of Economics, he worked in finance and did some finance blogging for a while before he began to devote his energy into writing.</p>
					<p>When he is not reading or writing, he listens to classical music. He uses Linux (current distro of choice: Ubuntu Mate Edition).</p>
					<p>He has a cat.</p>
				</div>
			</div>
		</div>
	</div>
</section>
