<!-- Contact Section -->
<section data-anchor="contact" class="section contact-section text-center">
	<div class="cell">
		<div class="container">
			<div class="row ">
				<div class="col-lg-8 col-lg-offset-2">
					<h1 class="section-heading">Contact</h1>
					<p>Send him an <a href="mailto:peter@novelist.xyz">email</a></p>
					<p><br/ ></p>
					<h2 class="section-heading">Connect on Social Media</h2>
					<p>{% include social-buttons.html %}</p>
					<p><br/ ></p>
					<p><small>Copyright &copy; Peter Y. Chuang {{ site.time | date: "%Y" }}</small></p>
				</div>
			</div>
		</div>
	</div>
</section>
