<!-- Footer -->
<footer data-anchor="footer" class="section footer-section text-center">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p><small><small>Peter Y. Chuang is a Hong Kong-born <b><a href="/">novelist</a></b> who has been educated in London and calls Berlin his spiritual home. He has completed the manuscript of a literary science fiction <a href="/#novels">novel</a>, <b>"<a href="/novels/2047">Twenty Forty-Seven</a></b>," and is currently re-writing another literary <a href="/#novels">novel</a>, <b>"<a href="/novels/only-you-know-what-it-means/">Only You Know What It Means</a></b>."</small></p>
				<p>{% include social-buttons.html %}</p>
					<p><small>Copyright &copy; Peter Y. Chuang {{ site.time | date: "%Y" }}</small></p>
			</div>
		</div>
	</div>
</footer>
