<!-- Innter Page Header -->
{% if page.title == "Blog" %}
<header class="inner-header-section text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/intro-bg.jpg) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <div class="container fp-tableCell">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="brand-heading">Peter Y. Chuang</h2>
            </div>
        </div>
    </div>
</header>

{% elsif page.header.image_fullwidth == NULL %}
<header class="inner-header-section text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/intro-bg.jpg) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <div class="container fp-tableCell">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="brand-heading">{{ page.title }}</h2>
            </div>
        </div>
    </div>
</header>

{% elsif page.header.image_fullwidth %}
<header class="inner-header-section text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ site.urlimg }}{{ page.header.image_fullwidth }}) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <div class="container fp-tableCell">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>
	{% if page.header.caption_url && page.header.caption %}
		<figure>
			<figcaption class="text-right">
				<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
			</figcaption>
		</figure>
	{% elsif page.image.caption %}
		<figure>
			<figcaption class="text-right">
				{{ page.image.caption }}
			</figcaption>
		</figure>
	{% endif %}
{% endif %}
