<div id="fullpage">
<!-- Intro Header -->
<header data-anchor="page-top" class="section header-section text-center active">
	<div class="container">    
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
			    <h1 class="brand-primary">Peter Y. Chuang</h1>
			    <p class="brand-tag"><a href="https://novelist.xyz">Novelist</a></p>
				<p><br/ ></p>
		        <a href="#about" class="btn btn-circle btn-lg page-scroll">
		            <i class="fa fa-angle-double-down animated"></i>
		        </a>
			</div>
		</div>
	</div>
</header>
