<!-- Blog Section -->
<section data-anchor="blog" class="section blog-section text-center">
	<div class="cell">
		<div class="container">
	  	  <div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1 class="section-heading">Blog</h1>
					<p>From time to time, he writes things other than full-length novels, such as short stories and occasionally poems. Here is a listing of them, which are published here on the blog and elsewhere. You can also find the latest news and announcements here.</p>
					{% for post in site.posts limit:5 %}
						<h4><strong> <a href="{{ post.url }}">{{ post.title }} </a> 
							<small>. {% if post.categories %}{% for category in site.data.categories %}{% if post.category == category.slug %}{{ category.name }}{% endif %}{% endfor %}{% endif %} .</small>
							</strong> <small> {{ post.date | date_to_string }} </small>
						</h4>
					{% endfor %}
					<p><br/ ></p>
					<p><a href="/blog/">View more posts <i class="fa fa-angle-double-right"></i></a></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
