<ul class="list-inline banner-social-buttons">
    <li>
        <a href="https://twitter.com/peterychuang" class="btn btn-circle btn-lg" title="Twitter"><i class="fa fa-twitter animated"></i> <span class="network-name"></span></a>
    </li>
                        <li>
        <a href="https://plus.google.com/+PeterYuChuang/" class="btn btn-circle btn-lg" title="Google+"><i class="fa fa-google-plus animated"></i> <span class="network-name"></span></a>
    </li>
    </li>
                        <li>
        <a href="https://www.facebook.com/PeterYChuangWrite" class="btn btn-circle btn-lg" title="Facebook"><i class="fa fa-facebook animated"></i> <span class="network-name"></span></a>
    </li>
    </li>
                        <li>
        <a href="https://instagram.com/peterychuang" class="btn btn-circle btn-lg" title="Instagram"><i class="fa fa-instagram animated"></i> <span class="network-name"></span></a>
    </li>
    </li>
                        <li>
        <a href="https://medium.com/@peterychuang" class="btn btn-circle btn-lg" title="Medium"><i class="fa fa-medium animated"></i> <span class="network-name"></span></a>
    </li>
</ul>
