---
layout: compress
format: post
---
{% include head.html %}
{% include navigation.html %}
{% include header_inner.html %}
<section id="{{ page.title }}" class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<time class="fa fa-calendar-o" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time>
				{% if page.categories %}<span class="fa fa-archive"> {% for category in site.data.categories %}{% if page.category == category.slug %}{{ category.name }}{% endif %}{% endfor %}{% endif %}</span><p/>
				{{ page.content | markdownify }}
				{% include share.html %}
				{% include comments.html %}
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
{% include js.html %}
